@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'webfont';
	src: url('http://at.alicdn.com/t/3maujejjzamm42t9.eot'); /* IE9*/
	src: url('http://at.alicdn.com/t/3maujejjzamm42t9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('http://at.alicdn.com/t/3maujejjzamm42t9.woff') format('woff'), /* chrome、firefox */
	url('http://at.alicdn.com/t/3maujejjzamm42t9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('http://at.alicdn.com/t/3maujejjzamm42t9.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}
body{ font-family:'PingFang SC',"Helvetica Neue", 'Helvetica', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Arial','sans-serif' ,"Hiragino Sans GB","微软雅黑";
	font-size:14px;
	background-color:#eff3f7;
	-webkit-font-smoothing:antialiased;}
html, body, div, p, h1, h2, h3, h4, h5, h6, blockquote,
ol, ul, li, dl, dt, dd,
form, fieldset, legend, button, input, textarea,
pre, code, th, td{margin:0;padding:0;word-wrap:break-word;}
li,dl{list-style-type:none}
html,body{height: 100%;}
button,input,select, textarea{font-size:100%;}
input, img, select {vertical-align:middle; border:0;}
iframe{display:block}
.border_btn{border:none; cursor:pointer;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight:normal;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
.blank7{ height:7px; margin: auto}
.blank15{ height:15px; margin: auto}
.blank24{ height:24px; margin: auto; display:block}
.blank20{ width:100%; float:right; height:20px; display:block}
.blank25{ width:100%; float:right; height:25px; display:block}
.blank29{ width: 100%; float:right; height:65px}
.clear{ height:0px; clear:both; font-size:0px; overflow:hidden; line-height:0px}
em{font-style:italic;font-weight:normal; }
legend{color:#000000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
:focus{outline:0;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
a{outline:none; color:#333;text-decoration:none;}
a.link{ color:#333;}
a:hover{ text-decoration:none;color:#333}
.dark_gray{ color:#333}
.blue{ color:#0FA5F5;}
.light_blue{color:#268cec!important;}
.xhx,.xhx:hover{ text-decoration:underline}

.f12{font-size:12px; line-height:12px;}.f13{font-size:13px; line-height:13px;}.f14{font-size:14px!important; line-height:14px}.f18{font-size:18px; line-height:18px}.f16{font-size:16px!important; line-height:16px}.f18{font-size:18px!important;}.f20{font-size:20px!important; line-height:20px;}.f22{font-size:22px; line-height:22px}
.f24{font-size:24px; line-height:24px;}.f30{font-size:30px; line-height:30px;}.f32{ font-size:32px; line-height:32px;}.f36{font-size:36px; line-height:36px}.f48{ font-size:48px; line-height:48px;}
.fl{float:left!important;}
.fr{float:right!important;}
.bold{font-weight:bold;}
.num{font-family:Arial;}
.pr18{ padding-right:18px}
.pl18{ padding-left:18px}

.tc{ text-align:center; vertical-align:middle;}
.tl{ text-align:left;}
.tr{ text-align:right;}
.pr{ position:relative;}
/*===== clearfix =====*/
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{ *zoom:1;/*IE/7/6*/}
.clear{clear:both;height:0px;overflow:hidden;}
.clear10{ clear:both; height:10px; overflow:hidden;}

.border{ border:1px solid #d7dfe3;}
.noborder{ border:none !important;}

/* #container{ min-width:100%; text-align:center} */

.container{ width:1100px; background:#fff; margin:0 auto; padding-bottom:80px;}

/*font color*/
.white{ color:#ffffff!important;}
.red{color:#e33030!important;}
.blue_light{color:#2684dc!important;}
.purple{color:#9d32c0!important;}
.blue{color:#325e9d!important;}
.blue:hover{color:#325e9d!important;}
.blue_ls{color:#fff!important;}
/*.blue_ls:hover{color:#325e9d!important;}
*/.d_blue{color:#01b2e8!important;}
.d_blue:hover{color:#71c4ff!important;}
.s_blue{color:#23a0fa!important;}
.gray9{ color:#9497a0!important;}
.gray6{color:#595c64!important;}
.gray3{color:#1c202b!important;}
.gray33{color:#bfc2ca!important;}
.green{color:#009801!important;}
.acb0ba{ color:#acb0ba!important;}
.orange{color:#ff7d00!important;}
.1c202b{color:#1c202b!important;}
.c202b{color:#1c202b!important;}
.595c64{color:#595c64;}
.325e9d{color:#325e9d!important;}
.acb0ba{color:#acb0ba;}
.dbe1e6{ color:#dbe1e6;}
.268cec{color:#268cec;}
.ln45{ line-height:45px;}
.ln30{ line-height:30px;}
.ln21{ line-height:21px;}
.red_bg{ background:#e33030!important;}
.blue_bg{ background:#268cec!important;}
.orange_bg{ background:#ff7d00!important; color:#fff!important;}
.purple_bg{background:#9d32c0!important; color: #fff!important;}
.lighe_green_bg{ background:rgba(0,152,1,0.1)}
.lighe_red_bg{ background:rgba(227,48,48,0.1)}
.lighe_gray_bg{ background:rgba(28,32,43,0.1)}
.blue_lable{color:#379ee5!important; background-color:rgba(55,158,229,0.2)!important}
.red_lable{color:#e23f3f!important; background-color:rgba(229,92,92,0.2)!important}
.orange_lable{color:#ff7d00!important; background-color:rgba(255,125,0,0.2)!important}
.purple_lable{color:#9d32c0!important; background-color:rgba(157,50,192,0.2)!important}
.on{ display:block!important;}
.off{ display:none!important;}
.bold{font-weight: bold}
/*按钮*/
.btn202{ width:202px; height:46px; line-height:46px; background:#ff7d00; border-radius:6px; margin:0 auto; text-align:center; cursor:pointer}

.btn120{ width:120px; height:36px; line-height:36px; background:#ff7d00; border-radius:6px; margin:0 auto; text-align:center; cursor:pointer}
.btn06{ width:112px; height:36px; line-height:36px; background:#325e9d; display: block; color:#595c64; text-align:center; cursor: pointer; cursor:pointer}

.btn12{width:240px; height:36px; line-height:36px;background:#ff7d00; border-radius:4px; text-align:center; display:block; cursor:pointer}
.btn14{ display:block; width:280px; height:36px; line-height:36px; background:#e33030; border-radius:4px; text-align:center; cursor:pointer}
.btn14:hover{ background:#d22d2d;; cursor:pointer}
.btn44{display:block; width:280px; height:36px; line-height:36px; background:#ff7d00; border-radius:4px; text-align:center; cursor:pointer}
.btn15{width:126px; height:36px; line-height:36px;color:#fff; background:#ff7d00; display:block; border-radius:18px; text-align:center; cursor: pointer;; cursor:pointer}
.btn19{ width:324px; height:40px; line-height:40px; background:#e33030; border-radius:4px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn20{display:block; width:160px; height:40px; line-height:40px; background:#ff7d00;  border-radius:4px; text-align:center; cursor:pointer}
.btn22{display:block; width:260px; height:44px; line-height:44px; background:#ff7d00; border-radius:4px; text-align:center; cursor:pointer}
.btn13{display:block; width:260px; height:40px; line-height:40px; background:#e33030; border-radius:4px; text-align:center; cursor:pointer}
.btn30{display:block; width:202px; height:46px; line-height:46px; background:#e33030; border-radius:4px; text-align:center; cursor:pointer}
.btn21{ width:260px; height:40px; line-height:40px; background:#268cec; border-radius:4px; text-align:center; cursor:pointer}
.btn09{width:64px; height:32px; line-height:32px;background:#ff7d00; border-radius:4px; text-align:center; cursor:pointer}
.btn10{width:64px; height:32px; line-height:32px;background:#379ee5; border-radius:4px; text-align:center; cursor:pointer}
.btn16{ width:146px; height:40px; line-height:40px;background:#ff7d00; border-radius:4px; text-align:center; cursor:pointer}
.btn23{ display:inline-block; width:100px; height:36px; line-height:36px; background:#379ee5;border-radius:4px; text-align:center; cursor:pointer}
.btn24{display:inline-block; width:100px; height:36px; line-height:36px; background:#e33030;border-radius:4px; text-align:center; cursor:pointer}
.btn25{ width:120px; height:40px; line-height:40px; display:inline-block; background:#268cec; border-radius:4px; text-align:center; cursor: pointer;}
.btn27{ width:120px; height:40px; line-height:40px; display:inline-block; background:#e33030; border-radius:4px; text-align:center; cursor: pointer;}
.btn31{ width:202px; height:46px; line-height:46px; background:#268cec; display: block; border-radius:4px; text-align:center; cursor: pointer; }
.btn32{ width:288px; height:40px; line-height:40px; background:#ff7d00; display: block; border-radius:4px; text-align:center; cursor: pointer; }

/*.btn{ background:url(../images/btn.png) no-repeat;}
.btn01{ width:120px; height:36px; line-height:36px; background-position:0px 0px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn01:hover{ background-position:0px -39px; color:#fff}
.btn02{ width:120px; height:36px; line-height:36px; background-position:-123px 0px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn02:hover{ background-position:-123px -39px; color:#fff}
.btn03{ width:124px; height:32px; line-height:32px; background-position:0px -78px; display: block; color:#666666; text-align:center; cursor: pointer;}
.btn03:hover{ background-position:0px -78px; color:#379ee5}
.btn04{ width:250px; height:40px; line-height:40px; background-position:0px -113px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn05{ width:100px; height:30px; line-height:30px; background-position:-127px -79px; display: block; color:#666666; text-align:center; margin-top:16px; font-size:14px}
.btn06{ width:112px; height:36px; line-height:36px; background-position:0px -156px; display: block; color:#666666; text-align:center; cursor: pointer;}
.btn07{ width:140px; height:40px; line-height:40px; background-position:0px -199px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn07:hover{ background-position:-144px -199px; color:#fff}
.btn08{ width:140px; height:40px; line-height:40px; background-position:0px -245px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn080{ width:140px; height:40px; line-height:40px; background-position:0px -450px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn08:hover{ background-position:-144px -245px; color:#fff}
.btn09{ width:64px; height:32px; line-height:32px; background-position:-134px -163px; display: block; color:#fff; text-align:center}
.btn10{ width:64px; height:32px; line-height:32px; background-position:-215px -163px; display: block; color:#fff; text-align:center}
.btn11{ width:102px; height:36px; line-height:36px; background-position:-250px 0px; display: block; color:#fff; text-align:center; }
.btn12{ width:200px; height:36px; line-height:36px; background-position:-259px -39px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn13{ width:260px; height:40px; line-height:40px; background-position:-259px -80px; display: block; color:#fff; text-align:center; cursor: pointer; margin-top:15px}
.btn14{ width:280px; height:36px; line-height:36px; background-position:-259px -124px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn15{ width:126px; height:36px; line-height:36px; background-position:-361px 0px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn16{ width:146px; height:40px; line-height:40px; background-position:-294px -163px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn17{ width:114px; height:32px; line-height:32px; background-position:-294px -213px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn18{ width:114px; height:32px; line-height:32px; background-position:-420px -213px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn19{ width:324px; height:40px; line-height:40px; background-position:-294px -254px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn20{ width:160px; height:40px; line-height:40px; background-position:-479px -37px; display: block; color:#fff; text-align:center; cursor: pointer}
.btn21{ width:260px; height:40px; line-height:40px; background-position:0px -294px; display: block; color:#fff; text-align:center; cursor: pointer;}
.btn22{ width:260px; height:40px; line-height:40px; background-position:-294px -299px; display: block; color:#fff; text-align:center; cursor: pointer; margin-top:15px}
.btn23{ width:100px; height:36px; line-height:36px; background-position:0px -343px; display: block; color:#666666; float:left; text-indent:1em; cursor: pointer;}
.btn24{ width:100px; height:36px; line-height:36px; background-position:-110px -343px; display: block; color:#666666; float:left; text-indent:1em; cursor: pointer;}
.btn25{ width:120px; height:40px; line-height:40px; background-position:-226px -340px; display: block; color:#666666; float:left; text-align:center; cursor: pointer;}
.btn26{ width:160px; height:40px; line-height:40px; background-position:-354px -340px; display: block; color:#666666; float:left; text-align:center; cursor: pointer;}
.btn27{ width:120px; height:40px; line-height:36px; background-position:-523px -340px; display: block; color:#666666; float:left; text-align:center; cursor: pointer;}
.btn28{ width:102px; height:36px; line-height:36px; background-position:0px -384px; display: block; color:#fff; text-align:center; cursor: pointer; }
.btn29{ width:102px; height:36px; line-height:36px; background-position:-110px -384px; display: block; color:#fff; text-align:center; cursor: pointer; }
.btn30{ width:202px; height:46px; line-height:46px; background-position:-226px -384px; display: block; color:#fff; text-align:center; cursor: pointer; }
.btn30:hover{ width:202px; height:46px; line-height:46px; background-position:-226px -438px; display: block; color:#fff; text-align:center; cursor: pointer; }
.btn31{ width:202px; height:46px; line-height:46px; background-position:-440px -384px; display: block; color:#fff; text-align:center; cursor: pointer; }
.btn31:hover{ width:202px; height:46px; line-height:46px; background-position:-440px -438px; display: block; color:#fff; text-align:center; cursor: pointer; }
*/
/*头部*/
#header_box { width: 100%; min-width:1100px; height: auto; background: #FFF none repeat scroll 0% 0%;}
.header_top { width: 100%;float:left; height:32px; background: #092650; font-size: 14px; color:#333333; line-height:32px;}
.center { width: 1100px; margin: 0px auto;}
.header_top p { color: #fff; line-height: 32px;}
.header_top a { padding:0px 10px}
.header_top a{ color:#fff}
.header_top a:hover{ color:#fff}


.header_bottom{ width:100%; min-width:1100px; float:left; height:64px; background-color:#fff;overflow:hidden;}
.header{ width:1100px; margin:0 auto}
.logo{width:356px; height:64px; float:left}
.logo_img{float: left; width:144px; height:31px; margin-right:20px; background: url(../images/logo.png) no-repeat;}
.logo_ad{float: left; width: 168px; height: 32px; margin-top: 16px; background: url(../images/ad.png) no-repeat;}
.header_menu{ float:right; padding-right:20px; font-size:18px}
.header_menu li{ float:left; display:inline; width:110px; position: relative;}
.header_menu li:first-child {width:75px;}
.header_menu li:last-child {width:82px;}
.header_menu li:nth-child(3) a span{display: inline-block; position: absolute; width: 29px; height: 23px; background: url("../images/new.png"); right: 4px; top:10px;}
.header_menu li a{ font-size:18px; color:#333333; float:left; padding:18px 5px 0px; border-top: 6px solid #fff}
.header_menu li a:hover { text-align: center; padding:18px 5px 0px; color:#ff7d00; border-top: 6px solid #ff7d00;}
.header_menu li a.selected { text-align: center; padding:18px 5px 0px; color:#ff7d00; border-top: 6px solid #ff7d00}
.header_menu .proNum{display: inline-block; float: right; margin-top: -9px; font-size: 12px; width: 18px; height: 18px; line-height: 18px; text-align: center; border-radius: 50%; background: #ff7d00; color: #fff;}
/*头部微信*/
.header_top .wx_top{ float:right;  width:76px; height:32px; position:relative; z-index:101;}
.header_top .wx_top a{ width:76px; float:right; height:32px; line-height:32px; text-align:center; padding:0px}
.wx_topimg{ width:178px; height:200px; border:1px solid #cccccc; background-color:#fff; float:left;position:absolute; left:-51px; top:32px; display:none}
.chartRoom_sjb{width:178px; height:200px; border:1px solid #cccccc; background-color:#fff; position:absolute; right:60px; top:68px; display: none; z-index: 10;}
.phone_version:hover .chartRoom_sjb{display: block;}
.wx_topsjx{ width:16px; height:8px; float:left;position:absolute; left:80px; top:-8px; background:url(../images/index_top_wxsjx.png) no-repeat;}
.wx_topimg img{ width:178px; height:163px; float:left; }
.wx_topimg p,.chartRoom_sjb p{margin-top:5px; color:#1c202b; text-align:center}
.wx_top:hover .wx_topimg{ display:block;}
.wx_gz{width:178px; height:200px; border:1px solid #cccccc; background-color:#fff;  position:absolute; left:-30px; top:32px; display:none; z-index:9}
.wx_gz .wx_topsjx{ width:16px; height:8px; float:left; position:absolute; left:77px; top:-8px; background:url(../images/index_top_wxsjx.png) no-repeat;}
.wx_gz img{ width:178px; height:163px; float:left; margin-top:-1px;}
.wx_gz p{margin-top:5px; color:#1c202b; text-align:center}


/*悬浮导航*/
.header_bottom2{ width:100%; min-width:1100px; float:left; height:64px; background-color:#fff; overflow:hidden;box-shadow:0px 0px 5px #909090;z-index: 10000;top: 0px;position: fixed; display:none;}
.header2{ width:1100px; margin:0 auto}
.logo2{width:356px; height:64px; float:left}
.header_menu2{ float:right; padding-right:20px; font-size:18px}
.header_menu2 li{ float:left; display:inline; width:110px;}
.header_menu2 li:first-child {width:75px;}
.header_menu2 li:last-child {width:82px;}
.header_menu2 li a{ font-size:18px; color:#333333; float:left; padding:18px 5px 0px; border-top: 6px solid #fff }
.header_menu2 li a:hover { text-align: center; padding:18px 5px 0px; color:#ff7d00;  border-top: 6px solid #ff7d00; }
.header_menu2 li a.selected { text-align: center; padding:18px 5px 0px; color:#ff7d00; border-top: 6px solid #ff7d00}
.header_menu2 .proNum{display: inline-block; float: right; margin-top: -9px; font-size: 14px;}
/*底部*/
.footer_box{ width:auto; min-width:1100px; margin:0 auto; overflow:hidden}
.footer { background: #dbe1e6; text-align: center;}
.g-o { width: 1100px; margin: 0px auto;}
.footer ul { height: auto; overflow: hidden;}
.footer ul li { height: 145px;  width: 148px; padding: 46px 0px 40px; float: left; }
.footer ul li .til, .footer ul li.last .til-ic { padding-bottom: 4px; font-size: 14px; color: #333;}
.footer ul li a { font-size: 14px; height: 29px; line-height: 29px; color: #666; display: block; width:60px; text-align: left;}
.footer ul li.last1{ width: 430px; text-align: left;}
.footer ul li.last1 a{display: block; width: 380px;}
.footer ul li.last2 { width: 100px; text-align: left}
.footer ul li.last2 span.wx { background: transparent url(../images/wx_ewm1.png) no-repeat scroll left 3px;}
.footer ul li.last2 span.wx, .footer ul li.last span.app { width: 100px; height: 117px; padding-top: 110px;text-align: center; display: inline-block; margin-right: 30px; color: #666;}
.foot-bt { background: #1c202b; text-align: center; padding: 12px 0px 12px; color: #fff; font-size:14px; overflow:hidden}
.footer_inforight{ margin: 0 auto; padding-left:154px; height:33px; width:560px; /* margin-bottom:20px; */ /* display:-webkit-box;display:-moz-box;display:box;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-box-pack:center;-moz-box-pack:center; box-pack:center; */}
.footer_inforight a{ float:left;}
.footer_inforight .ui_term{ width:88px; height:33px;margin-left:5px; background:url(../images/fx.png) left top no-repeat;}
.footer_inforight .ui_term01{ background-position:0px -229px;}
.footer_inforight .ui_term01:hover{ background-position:0px -279px;}
.footer_inforight .ui_term02{ background-position:-96px -89px;}
.footer_inforight .ui_term02:hover{ background-position:-96px -139px;}
.footer_inforight .ui_term03{ background-position:-192px -89px;}
.footer_inforight .ui_term03:hover{ background-position:-192px -139px;}
.footer_inforight .ui_term04{ background-position:0px -38px;}
.footer_inforight .ui_term04:hover{ background-position:-96px -38px;}
.footer_inforight .ui_term05{ background-position:0px -140px;}
.footer_inforight .ui_term05:hover{ background-position:-96px -140px;}

/*回顶部*/
#service_online{ width:44px; padding:3px; position:fixed; top:45%; right:0px; z-index:10000}
#service_onlines{ width:44px; padding:3px; background:#000; position:fixed; top:30%; right:0px;}
#service_online .service_block,#service_onlines .service_block{ width:44px; height:44px; float:left; margin-bottom:2px; position:relative; background-color:#cfcfcf}
#service_online .service_block:hover,#service_onlines .service_block:hover{ width:100%; float:left; margin-bottom:2px; position:relative;}
#service_online .hover_bg1:hover,#service_onlines .hover_bg1:hover{background-color:#268cec;}
#service_online .hover_bg2:hover,#service_onlines .hover_bg2:hover{background-color:#53c025;}
#service_online .hover_bg3:hover,#service_onlines .hover_bg3:hover{background-color:#e33030;}
#service_online span.tit,#service_onlines span.tit{ width:100%; height:44px; float:left; position:relative;}
#service_online span.tit a,#service_onlines span.tit a{ width:100%; height:44px; overflow:hidden;float:left; background:url(../images/service_bg.png) left top no-repeat;}
#service_online span.txt,#service_onlines span.txt{ width:100%; float:left; text-align:center; position:relative;}
#service_online span.txt a,#service_onlines span.txt a{ font-family:微软雅黑; color:#8f8f8f;}
#service_online span.tit a.kefu,#service_onlines span.tit a.kefu{ background-position:-3px 10px;}
#service_online span.tit a.qq,#service_onlines span.tit a.qq{ background-position:-3px -38px;}
#service_online span.tit a.jsq,#service_onlines span.tit a.jsq{ background-position:-4px -142px;}
#service_online span.tit iframe,#service_onlines span.tit iframe{ position:absolute; top:10px; left:0px;  filter:Alpha(Opacity=0);-moz-opacity:0;opacity: 0; z-index:10;}
#service_online span.txt iframe,#service_onlines span.txt iframe{ position:absolute; top:-5px; left:0px;  filter:Alpha(Opacity=0);-moz-opacity:0;opacity: 0;z-index:10;}
#service_online span.tit a.weixin,#service_onlines span.tit a.weixin{ background-position:-3px -92px;}
#service_online span.tit a.erweima,#service_onlines span.tit a.erweima{ background-position:-3px -142px;}
#service_online a.returntop,#service_onlines a.returntop{width:44px; height:44px; float:left;background:url(../images/returntop.png) left top no-repeat; border:none;display:none;}



/*二维码*/
.erweima_box{width:126px; float:left; position:absolute; top:-57px; right:36px; padding-right:10px;  display:none; }
.erweima_right{float:left; width:200px; background: url(../images/erweima_right.png) no-repeat; height:200px; margin-left:-70px; margin-top:26px; position:relative;}
.erweima_right dl{ width:120px; float:left; position:absolute; top:32px; left:58px; }
.erweima_right dt,.erweima_right dt img{ width:120px; height:83px; float:left;}
.erweima_right dd{ width:120px; float:left; text-align:center; line-height:20px; color:#999; padding-top:5px; font-size:14px}
.erweima_target{ position:absolute; right:-9px; top:-11px;}
.erweima_right .list_bg{ top:57px;}



.erweima_right2{float:left; width:200px; background: url(../images/erweima_right2.png) no-repeat; height:200px; margin-left:-70px; margin-top:-20px; position:relative;}
.erweima_right2 dl{ width:120px; float:left; position:absolute; top:32px; left:58px; }
.erweima_right2 dt,.erweima_right dt2 img{ width:120px; height:116px; float:left;}
.erweima_right2 dd{ width:120px; float:left; text-align:center; line-height:10px; color:#999;  font-size:14px}
.erweima_target2{ position:absolute; right:-9px; top:-11px;}
.erweima_right2 .list_bg{ top:57px;}


.erweima_right3{float:left; width:200px; background: url(../images/erweima_right3.png) no-repeat; height:200px; margin-left:-70px; margin-top:-66px; position:relative;}
.erweima_right3 dl{ width:120px; float:left; position:absolute; top:32px; left:58px; }
.erweima_right3 dt,.erweima_right dt3 img{ width:120px; height:116px; float:left;}
.erweima_right3 dd{ width:120px; float:left; text-align:center; line-height:10px; color:#999;  font-size:14px}
.erweima_target3{ position:absolute; right:-9px; top:-11px;}
.erweima_right3 .list_bg{ top:57px;}

/*
onfocus="if(value==defaultValue){value='';this.style.color='#666';this.style.fontSize='14px';this.style.border='1px solid #379ee5'}" onblur="if(!value){value=defaultValue;this.style.color='#ccc';this.style.fontSize='14px';this.style.border='1px solid #c4c4c4'}"
*/
.focusInput{
	font-size:14px;
	color:#666;
	width:680px;
	height:38px;
	line-height:38px;
	border:1px solid #379ee5;
}
.normalInput{
	font-size:14px;
	color:#666;
	width:680px;
	height:38px;
	line-height:38px;
	border:1px solid #c4c4c4;
}
.focusInput_area{
	font-size:14px;
	color:#666;
	width:680px;
	height:130px;
	line-height:27px;
	border:1px solid #379ee5;
}
.normalInput_area{
	font-size:14px;
	color:#666;
	width:680px;
	height:130px;
	line-height:27px;
	border:1px solid #c4c4c4;
}

/* WebKit browsers */
::-webkit-input-placeholder {
	color: #bfc2ca;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #bfc2ca;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #bfc2ca;
	opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #bfc2ca;
}
::-ms-input-placeholder{
	color: #bfc2ca;
	opacity: 1;
}
.split_line{ border-bottom:1px solid #dbe1e6; margin-top:20px;}
/*首页头部*/
.index_top{width:100px; position:relative;}
.index_top span{ float:left; cursor:pointer}
.index_top div{float:left; width:100px; margin-left:20px;}
.index_top span:first-child,.gzwx span:first-child{ margin-top:7px;}
.index_top span:nth-child(2),.gzwx span:nth-child(2){ margin-left:10px;}
.gzwx{width:170px; position:relative; float:left; margin-left:28px;}
.gzwx span{float:left; cursor:pointer}
.gzwx:hover .wx_gz{ display:block;}
/* 去掉input type='number' 类型右侧箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}

.select_content,.i_know,.has_close_i_know{width: 394px; height: auto; padding-bottom: 20px; border-radius: 6px; background: #fff; position: fixed; left: 50%; top: 45%; margin-left: -197px; margin-top: -106px; z-index: 10002; display: none}

.select_content p{font-size: 18px; line-height: 36px; color: #1c202b; text-align: center; margin-top: 38px;}
.select_content .btns{padding: 0 30px; overflow: hidden; margin-top: 38px;}
.select_content .btns div{width: 152px; height: 32px; line-height: 34px; text-align: center; font-size: 14px; border-radius: 4px; cursor: pointer}
.select_content .btns div:first-child{background: #ff7d00; color: #fff; float: left; border: 1px solid #ff7d00;}
.select_content .btns div:first-child:hover{background: #f77900;}
.select_content .btns div:last-child{background: #fff; color: #595c64; float: right; border: 1px solid #d2d6dc;}
.select_content .btns div:last-child:hover{background: #d2d6dc; color: #fff;}

.i_know,.has_close_i_know{padding-top: 44px; }
.i_know p,.has_close_i_know p{font-size: 18px; line-height: 18px; margin-bottom: 64px; padding: 0 14px; text-align: center; color: #1c202b;}
.has_close_i_know p{line-height: 26px; margin-bottom: 20px;}
.has_close_i_know p font{color: #ff7d00;}
.has_close_i_know .title{font-size: 16px; line-height: 16px; color: #ff7d00; text-align: center; margin-bottom: 20px;}
.i_know .btn,.has_close_i_know .btn{width: 152px; height: 32px; border: 1px solid #d2d6dc; color: #595c64; border-radius: 4px; font-size: 14px; margin: 0 auto; line-height: 34px; text-align: center; cursor: pointer;}
.i_know .btn:hover,.has_close_i_know .btn:hover{background: #d2d6dc; color: #fff;}
.has_close_i_know img{position: absolute; right: 10px; top: 10px; cursor: pointer}